<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboad</title>
    <link rel="stylesheet" href="css/dashboard.css">

  </head>
  <body>
<div data-include="start.hb"></div>

    <div class="row heading-row">
      <h1>WCAlert!</h1>
    </div>

  <div class="main">
    <div class="sub-main">
      <button class="button-one" onclick="window.location='/data'">Datalist</button>
    </div>
    <div class="sub-main">
      <button class="button-two" onclick="window.location='/home'"><span>ALert</span></button>
    </div>
    <div class="sub-main">
      <button class="button-three" onclick="window.location='/'">Log out</button>
    </div>
    <p>created by Team_vijay<br>
     bulit with &#9829 by <a href="" tagget="_blank">Team_vijay
    </p>
  </div>
  </body>
  <script type="text/javascript" src="script/main.js"></script>
</html>
