<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/nav.css">
</head>
<body>

  <div class="muck-up">
    <div class="overlay"></div>
    <div class="content">
      <div class="logo">
        <a href="#"><span class="fa fa-map-marker"></i></a>
      </div>
      <div class="header">
        <hr>
        <h4>WC<span>Alert</span>ers</h4>
        <p>Women security based App</p>
      </div>
      <div class="login">
        <a class="btn sign-in" href="/login">Sign In</a>
        <a class="btn sign-up" href="/register">Sign Up</a>
        <!-- <a class="btn connect-fb" href="#"><i class="ion-social-facebook"></i>Connect With<span>Facebook</span></a>
        <a class="btn connect-tw" href="#"><i class="ion-social-twitter-outline"></i>Connect With<span>Twitter</span></a> -->

      </div>
    </div>
  </div>


</body>
</html>
<!-- 579b464db66ec23bdd0000018fa25d38d4dd467b73ff4aeefff65d7e -->
