body {font-family: Arial;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.sign-in {
  color: #fff;
  font-size: 18px;
  background: #586A74;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-color: #4B5961;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;

    cursor: pointer;
    display: block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 16px 12px;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    line-height: 1.42857143;
    border: 1px solid transparent;
    float:left;

}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}
.btn {
  cursor: pointer;
  display: block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  padding: 16px 12px;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  line-height: 1.42857143;
  border: 1px solid transparent;
  width:50%;
  float:right;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
